//font-family
$font-family-base:"Noto Sans TC", sans-serif;

//font-size
$fontSize-small: 12px;
$fontSize-base: 16px;
$fontSize-title: 18px;
$fontSize-bigtitle: 32px;
$fontSize-superbigtitle: 48px;

//color
$blue: #56C4C5;
$red: #FF5D50;
$gray: #747474;
$black: #221E1F;

// box-shadow
$shadow: 0px 2px 10px #00000014;