@import "variable";
@import "CSS reset";
@import "base";

.index-header{
    position: relative;
}
@media(max-width: 375px){
    .index-header{
        height: auto;
    }
}
.bg-home{
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg");
    background-size: cover;
    width: 850px;
    height: 760px;
    right: 0px;
    top: 0px;
    z-index: -1;
}
.ellipse-blue-1{
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg");
    width: 138px;
    height: 360px;
    background-size: cover;
    z-index: -1;
    background-position: right;
    top: calc( 100vh - 180px);
}
.ellipse-blue-2{
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg");
    width: 210px;
    height: 317px;
    background-size: cover;
    z-index: -1;
    top: 1600px;
    right: 0px;
}
.ellipse-orange-sm{
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
    width: 150px;
    height: 150px;
    background-size: cover;
    z-index: -1;
    top: 2640px;
    left: 50px;
}
@media(max-width: 375px){
    .bg-home{
        position: absolute;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
        background-size: cover;
        background-position: center center;
        width: 334px;
        height: 245px;
        right: 20px;
        top: 400px;
        z-index: -1;
    }
    .ellipse-blue-1{
        width: 49px;
        height: 126px;
        top: 743px;
    }
    .ellipse-blue-2{
        width: 88px;
        height: 135px;
        top: 3067px;
    }
    .ellipse-orange-sm{
        width: 77px;
        height: 153px;
        top: 5000px;
        left: 0;
        background-position: right;
    }
}
.navbar{
    max-width: 1088px;
    margin: 0 auto;
    padding: 24px 0;
}
@media(max-width: 375px){
    .navbar{
        border-bottom: 2px solid #FFD153;
        padding: 16px 20px;
    }
}
.logo img{
    width: 218px;
}
@media(max-width: 375px){
    .logo img{
        max-width: 130px;
    }
}
.banner{
    align-items: center;
}
.banner-text{
    max-width: 553px;
    h2{
        color: $blue;
        font-size: $fontSize-title;
        font-weight: bold;
        margin-bottom: 8px;
    }
    h3{
        color: $black;
        font-size: 20px;
    }
    p{
        color: $black;
        font-size: $fontSize-superbigtitle;
        font-weight: bold;
        margin-bottom: 16px;
    }
}
.banner-img{
    width: 50%;
    height: auto;
}
@media(max-width: 375px){
    .banner{
        flex-direction: column;
    }
    .banner-text{
        padding: 32px 0;
        h2{
            font-size: $fontSize-base;
        }
        p{
            font-size: $fontSize-bigtitle;
        }
        h3{
            font-size: $fontSize-base;
        }
    }
    .banner-img{
        width: 100%;
    }
}
.index-main{
    margin-top: 100px;
}
@media(max-width: 375px){
    .index-main{
        margin-top: 99px;
    }
}
.platform{
    h2{
        font-size: $fontSize-bigtitle;
        font-weight: bold;
        margin-bottom: 48px;
    }
}
@media(max-width: 375px){
    .platform{
        h2{
            font-size: 32px;
            margin-bottom: 20px;
        }
    }
}
.social-media{
    margin-bottom: 100px;
    li{
        margin: 0 60px;
        img{
            width: 90px;
        }
    }
    h3{
        font-size: 24px;
        font-weight: bold;
        margin: 24px 0;
    }
    p{
        font-size: $fontSize-base;
        color: $gray;
    }
}
@media(max-width: 375px){
    .social-media{
        flex-direction: column;
        margin-bottom: 60px;
        li{
            margin: 12px 0;
            img{
                max-width: 60px; 
            }
        }
        h3{
            font-size: $fontSize-title;
            margin: 16px 0;
        }
    }
}
.highlight{
    margin-bottom: 100px;
    h2{
        font-size: $fontSize-bigtitle;
        font-weight: bold;
        margin-bottom: 16px;
    }
    p{
        font-size: 20px;
        margin-bottom: 48px;
    }
}
.highlight-card{
    width: 260px;
    border-radius: 12px;
    box-shadow: $shadow;
    margin: 0 8px;
    background-color: #FFFFFF;
    img{
        border-radius: 12px 12px 0 0;
    }
    h3{
        font-size: $fontSize-base;
        color: $blue;
        font-weight: bold;
        margin-top: 16px;
    }
    p{
        font-size: $fontSize-base;
        color: $black;
        margin: 16px 16px 24px 16px;
    }   
}
@media(max-width: 375px){
    .highlight{
        margin-bottom: 20px;
        h2{
            font-size: 28px;
        }
        p{
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    .highlight-list{
        flex-direction: column;
        align-items: center;
    }
    .highlight-card{
        margin: 12px 0px;
    }
}
.service{
    justify-content: space-between;
}
@media(max-width: 375px){
    .service{
        flex-direction: column-reverse;
    }
}
.service-list{
    max-width: 520px;
    margin-bottom: 14px;
    flex-wrap: wrap;
}
.service-card{
    width: 230px;
    box-shadow: $shadow;
    padding: 32px 32px 48px 32px;
    margin: 14px;
    border-radius: 12px;
    background-color: #FFFFFF;;
    img{
        box-shadow: $shadow;
        padding: 17px;
        border-radius: 50%;
    }
    h3{
        font-size: $fontSize-title;
        font-weight: bold;
        margin: 24px 0 16px 0;
    }
    p{
        font-size: $fontSize-base;
        width: 166px;
    }
}
@media(max-width: 375px){
    .service-list{
        justify-content: center;
        margin: 48px 0;
    }
    .service-card{
        margin: 12px 0;
    }
}
.service-detail{
    max-width: 400px;
    h2{
        font-size: $fontSize-bigtitle;
        font-weight: bold;
        color: $black;
        margin-bottom: 16px;
    }
    p{
        font-size: $fontSize-title;
        color: $black;
        margin-bottom: 24px;
    }
}
@media(max-width: 375px){
    .service-detail{
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
        h2{
            margin: 20px 0 16px 0;
            font-size: 28px;
        }
        p{
            font-size: $fontSize-base;
            margin-bottom: 16px;
        }
    }
}
.review{
    margin: 86px 0px 134px 0px;
    h2{
        font-size: $fontSize-bigtitle;
        font-weight: bold;
        margin-bottom: 48px;
        text-align: center;
    }
}
@media(max-width: 375px){
    .review{
        margin: 12px 0 44px 0;
        h2{
            font-size: 28px;
            margin-bottom: 38px;
        }
    }
    .review-list{
        flex-direction: column;
    }
}
.review-list{
    margin: 50px 0;
}
.review-card{
    width: 32%;
    box-shadow: $shadow;
    border-radius: 12px;
    background-color: #FFFFFF;
}
.review-text{
    max-width: 288px;
    margin: 48px 32px 24px 32px;
    position: relative;
    p{
        font-size: $fontSize-base;
        color: $black;
        padding-bottom: 24px;
        border-bottom: 2px solid #DDDDDD;
    }
}
.company{
    font-weight: bold;
}
.photo{
    border-radius: 50%;
    width: 80px;
    height: auto;
    position: absolute;
    top: -100px;
}
.rate{
    P{
        font-size: $fontSize-base;
        margin: 8px 0;
    }
}
.star{
    max-width: 120px;
    img{
        max-width: 16px;
    }
}
.footer{
    margin: 0 auto;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
    background-size: cover;
    background-position: center center;
    p{
        font-size: $fontSize-bigtitle;
        font-weight: bold;
        padding-top: 300px;
        margin-bottom: 48px;
    }
    a{
        margin-bottom: 100px;
    }
}
@media(max-width: 375px){
    .footer{
        p{
            font-size: 24px;
            margin-bottom: 24px;
        }
        a{
            margin-bottom: 60px;
        }
    }
}
.copyright{
    font-size: $fontSize-base;
    text-align: center;
    padding: 16px 0;
    background-color: #F5F5F5;
}

// 方案費用
.bg-img-l{
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg");
    background-size: cover;
    width: 885px;
    height: 559px;
    right: 0px;
    z-index: -1;
}
.ellipse-orange-l{
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
    width: 94px;
    height: 361px;
    z-index: -1;
    background-size: cover;
    background-position: right;
    top: 876px;
}
@media(max-width: 375px){
    .bg-img-l{
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg");
        max-width: 375px;
        top: 72px;
    }
    .ellipse-orange-l{
        width: 96px;
        height: 204px;
        top: 1400px;
    }
}
.bg-gray{
    position: absolute;
    background-color: #F7F9FD;
    background-size: cover;
    width: 100vw;
    height: 470px;
    right: 0px;
    z-index: -2;
    border-radius: 0px 0px 0px 300px;
}
@media(max-width: 375px){
    .bg-gray{
        max-width: 375px;
        top: 72px;
    }
}
.plan-header{
    padding: 0 139px;
    margin-bottom: 100px;
}
@media(max-width: 375px){
    .plan-header{
        padding: 0 20px;
    }
}
.plan-banner{
    margin-top: 92px;
    h2{
        font-size: $fontSize-superbigtitle;
        font-weight: bold;
        color: $black;
        margin-bottom: 16px;
    }
    p{
        font-size: $fontSize-base;
        color: $black;
    }
}
@media(max-width: 375px){
    .plan-banner{
        h2{
            font-size: $fontSize-bigtitle;
        }
    }
}
.plan-main{
    margin-bottom: 100px;
    h2{
        font-size: $fontSize-bigtitle;
        color: $black;
        font-weight: bold;
        margin-bottom: 48px;
    }
}
@media(max-width: 375px){
    .plan-main{
        margin-bottom: 36px;
        h2{
            font-size: 28px;
            margin-bottom: 24px;
        }
    }
}
.count{
    flex-wrap: wrap;
    margin-bottom: 54px;
    justify-content: space-around;
    li{
        border: 1px solid $blue;
        margin: 0 8px;
        border-radius: 27px;
    }
}
@media(max-width: 375px){
    .count{
        margin-bottom: 32px;
    }
}
.plan-card{
    width: calc(50% - 21px);
    box-shadow: $shadow;
    border-radius: 12px;
    padding: 24px;
    background-color: #FFFFFF;
    h3{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 24px;
        border-bottom: 2px solid #DDDDDD;
    }
    p{
        font-size: $fontSize-base;
    }
}
@media(max-width: 375px){
    .plan-list{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .plan-card{ 
        width: 100%;
        padding: 16px;
        margin-bottom: 24px;
    }
}
.plan-card-l{
    margin: 32px 0 24px 0;
    justify-content: space-between;
}
.plan-card-sm{
    background-color: #F5F5F5;
    width: 50%;
    padding: 24px 0px;
    border-radius: 12px;
    font-size: $fontSize-small;
    color: $black;
    span{
        color: $blue;
        padding: 8px 0;
    }
}
@media(max-width: 375px){
    .plan-card-l{
        margin:24px 0;
    }
    .plan-card-sm{
        padding: 16px 24px;
    }
}
.number{
    font-size: 32px;
}
@media(max-width: 375px){
    .number{
        font-size: 28px;
    }
}
.equal{
    font-size: 29px;
    padding: 33px 0px;
}
.point-list{
    margin-bottom: 16px;
    img{
        max-width: 16px;
    }
    p{
        font-size: $fontSize-base;
        padding: 8px 0 8px 16px;
    }
}
@media(max-width: 375px){
    .point-list{
        p{
            font-size: 14px;
        }
    }
}
.FQA{
    margin-bottom: 100px;
    h2{
        font-size: $fontSize-bigtitle;
        font-weight: bold;
        margin-bottom: 40px;
    }
}
@media(max-width: 375px){
    .FQA{
        margin-bottom: 60px;
        h2{
            font-size: 28px;
            padding-bottom: 32px;
        }
    }
}
.Qs-list{
    box-shadow: $shadow;
    border-radius: 12px;
    margin: 8px 0;
}
.Qs{
    display: block;
    text-decoration: none;
    font-size: $fontSize-title;
    color: $black;
    padding: 16px 32px;
    img{
        max-width: 20px;
    }
}
@media(max-width: 375px){
    .Qs{
        font-size: $fontSize-base;
        padding: 16px;
    }
}





